<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 p-5">
      <div class="badValueContainer" id="badValueContainer" #badValueContainer>

        <div class="container main">
          <div class="card bad-value-form ">
            <div class="card-header">
              <h6 class="heading ">Model</h6>
            </div>
            <div class="card-body ">
              <form #userForm="ngForm">

                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="company">Company </label>
                      <select class="form-control" id="company" name="company" required>
                        <option value="">Select Company</option>
                        <option value="Company1">Bank of America</option>
                        <option value="Company2">BP</option>
                        <option value="Company3">Citigroup</option>
                        <option value="Company4">Volkswagen</option>
                        <option value="Company5">Wells Fargo</option>
                        <option value="Company6">Deutsche Bank</option>
                      </select>
                      <div *ngIf="userForm.controls.gender?.touched && userForm.controls.gender?.invalid"
                        class="text-danger">
                        Please select a Company.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="dimension">Dimension</label>
                      <select class="form-control" id="dimension" name="dimension" required>
                        <option value="">Select Dimension</option>
                        <option value="dimension1">Corporation</option>
                        <option value="dimension2">Legal</option>
                        <option value="dimension3">Geography</option>
                        <option value="dimension4">Operations</option>
                        <option value="dimension5">Personnal</option>
                        <option value="dimension6">Social</option>
                        <option value="dimension7">Ethical</option>
                        <option value="dimension8">Political</option>


                      </select>
                      <div *ngIf="userForm.controls.dimension?.touched && userForm.controls.dimension?.invalid"
                        class="text-danger">
                        Please select a dimension.
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="gender">Factors</label>
                      <select class="form-control" id="factors" name="factors" required>
                        <option value="">Select Factors</option>
                        <option value="factors1">IP Registered</option>
                        <option value="factors2">Political Stability Index (PSI)</option>
                        <option value="factors3">Economic Freedom Index</option>
                        <option value="factors4">Corruption Perception Index (CPI)</option>
                        <option value="factors5">Political Risk Index (PRI)</option>
                        <option value="factors6">Political Risk Index</option>
                        <option value="factors7">GDP growth</option>

                      </select>
                      <div *ngIf="userForm.controls.factors?.touched && userForm.controls.factors?.invalid"
                        class="text-danger">
                        Please select a factors.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="attributes">Attributes</label>
                      <select class="form-control" id="attributes" name="attributes" required>
                        <option value="">Select Attributes</option>
                        <option value="attributes1">Supply Chain Disruptions</option>
                        <option value="attributes2">Economic Downturns</option>
                        <option value="attributes3">Cybersecurity Threats</option>
                        <option value="attributes4">Data Privacy and Compliance</option>
                        <option value="attributes5">Intellectual Property Risks</option>
                        <option value="attributes6">Political Instability</option>
                        <option value="attributes7">Trade Tensions and Tariffs</option>
                        <option value="attributes8">Geopolitical Conflicts</option>

                      </select>
                      <div *ngIf="userForm.controls.attributes?.touched && userForm.controls.attributes?.invalid"
                        class="text-danger">
                        Please select a attributes.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row pt-3 d-flex align-items-center justify-content-center">
                  <div class="col-lg-9 col-md-9 com-sm-12">
                    <table class="table">
                      <tr>
                        <th>Weight</th>
                        <td>
                          <input type="text" class="form-control weight" id="bandvalues" name="bandvalues"
                          placeholder="Weight" required>
                        </td>
                      </tr>
                      <tr>
                        <th></th>
                        <th>Minimum</th>
                        <th>Maximum</th>
                      </tr>
                      <tr>
                        <td>Strong positive</td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                      </tr>
                      <tr>
                        <td>Positive</td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                      </tr>
                      <tr>
                        <td>Neutral</td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                      </tr>
                      <tr>
                        <td>Negative</td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                      </tr>
                      <tr>
                        <td>Strong negative</td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                        <td> <input type="text" class="form-control" id="bandvalues" name="bandvalues" required></td>
                      </tr>
                    </table>
                  </div>
                  <!-- <div class="col-lg-3 col-md-3 col-sm-12 weight">
                    <div class="form-group">
                      <label for="name">Weight</label>
                      <input type="text" class="form-control" id="bandvalues" name="bandvalues" placeholder="Weight"
                        required>
                    </div>
                  </div> -->
                </div>

              </form>
            </div>

            <div class="card-footer pb-2">
              <button type="submit" class="btn btn-sub float-right">Submit</button>
              <button type="cancel" class="btn btn-secondary float-right">Cancel</button>
            </div>

            <!-- </form> -->
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
