.login {
  height: 100vh;
  background: linear-gradient(113deg, #2A3953 1.35%, #5E7FB9 98.65%);
  padding: 60px;
  font-family: 'Lato' !important;

  @media screen and (max-width: 768px) {
    padding: 10px !important;
  }

  // .container {
  //   @media screen and (min-width: 1200px) {
  //     max-width: 100% !important;
  //     // width: 100% !important;
  //     height: 100% !important;
  //     max-height: 100% !important;
  //   }
  // }

  .login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;

    .login-card-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 50px;
      background: linear-gradient(228deg, rgba(30, 41, 59, 0.50) 0%, rgba(82, 112, 161, 0.50) 98.54%);
      @media screen and (max-width:767px){
        display: none;
      }
    }

    .heading {
      color: #000000b3;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.6px;
    }

    .content {
      background-color: white !important;

      .login-card-sub-title {
        color: var(--dash-primary, #1E293B);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 0px 20px 20px 0px;
        background: #FFD700;
        display: flex;
        width: 200px;
        padding: 10px 10px 10px 0px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }

    .card-body {
      padding: 40px 90px 120px !important;

      @media (min-width: 1200px) {
        padding: 40px 90px 120px !important;
      }

      @media (max-width: 422px) {
        padding: 35px 30px 70px 30px !important;
      }

      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.50);
        color: rgba(0, 0, 0, 0.50);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none !important;
        letter-spacing: 1px;
      }

    }

    .create-account {
      color: rgba(0, 0, 0, 0.50);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-bottom: 1px solid rgba(0, 0, 0, 0.50);
      display: inline-flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .form-control {
      border-bottom: 1px solid rgba(0, 0, 0, 0.50);
      color: rgba(0, 0, 0, 0.50);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      padding: 0px 15px !important;
      transition: none !important;
    }

    .form-control:focus {
      border-color: #ced4da;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      border-bottom: 1px solid black !important;
    }

    a{
      text-decoration: none;
    }

    .login-btn {
      border-radius: 16px;
      background: var(--dash-primary, #1E293B);
      display: flex;
      width: 120px;
      height: 45px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      color: #FFD700 !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 30px !important;
    }

    .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000 !important;
    }

    .login-btn:active {
      border-radius: 20px;
      background:  #FFD700;
      border: transparent !important;
      color: black !important
    }

    .form-group {
      height: 40px;
      margin-bottom: 2rem;
    }


    .form-control::-webkit-input-placeholder {
      color: #919aa3;
    }

    .form-control::-moz-placeholder {
      color: #919aa3;
    }

    .form-control:-ms-input-placeholder {
      color: #919aa3;
    }

    .form-control::-ms-input-placeholder {
      color: #919aa3;
    }

    .form-control::placeholder {
      color: #919aa3;
    }

  }
  .error-message{
    color: #dc3545 !important;
    font-weight: 600;
  }
}

.spinner-wrapper {
  top: -10px !important;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  .donut {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(151, 159, 208, 0.3);
    border-top-color: #979fd0;
    -webkit-animation: 1.5s spin infinite linear;
    animation: 1.5s spin infinite linear;
  }
}


/*# sourceMappingURL=login.css.map */
