<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="javascript:void(0)" (click)="home()">
      <img src="assets/images/logo-new-small.png" style="width: 40px;height:unset;" alt="logo" />
      <!-- <span class="pl-3">LOGO</span> -->
    </a>
    <a class="navbar-brand brand-logo-mini" href="javascript:void(0)"  (click)="home()">
      <img class="logo" src="assets/images/logo-new-small.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mobile" href="javascript:void(0)" 
      (click)="home()">
      <img class="logo" src="assets/images/logo-new-small.png" alt="logo" />
    </a>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-stretch pl-0">

    <a href="javascript:void(0)"
      class="navbar-toggler align-self-center toggleSidebar d-flex align-items-center" data-toggle="minimize" (click)="toggleSidebar()">
    <img src="assets/images/collapse-icon.png" class="collpase-icon-left">
    <img src="assets/images/collapse-icon-1.png" class="collpase-icon-right">
    </a>
    
    <div class="brand-name align-items-center">
      <p>REX</p>
    </div>

    <ul class="navbar-nav navbar-nav-right">
      <span class="pr-0">
        <a class="nav-link">
          <img style="height:22px;" src="assets/images/notification.png" alt="image">
          <img style=" margin: -18px 0px 0px -7px; height: 7px;" src="assets/images/notification-dot.png" alt="image">
        </a>
      </span>
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
          <div class="nav-profile-img">
            <img src="assets/images/user.png" alt="image">
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
          <a class="name" href="javascript:void(0)">{{userDetails.email}}</a>
          <a class="logout" href="javascript:void(0)" (click)="logout()">Logout </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
