<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar"> -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">

  <ul class="nav mb-5 pb-5">
    <li class="nav-item">
      <a class="nav-link" routerLink="chatbot">
        <span><img src="assets/images/chatbot.png"></span>
        <span class="menu-title">Chat with REX</span>
      </a>
      <a class="nav-link" id="submenu00" [routerLink]="['/reports','9c35b38b-b414-42ac-9e24-cbab01a9b1e2','ReportSection']">
        <span><img src="assets/images/Dashboard.png"></span>
        <span class="menu-title">Dashboard</span>
      </a>
      <a class="nav-link" [routerLink]="['/reports','9c35b38b-b414-42ac-9e24-cbab01a9b1e2','ReportSection4467598d58c88e5271ba']">
        <span><img src="assets/images/code-compare.png"></span>
        <span class="menu-title">Compare</span>
      </a>
      
      <a class="nav-link" routerLink="master-data" (click)="togleSidebar(3,1)" [attr.aria-expanded]="(subMenuCollapsed == 3 )  ? true : false"  [attr.aria-controls]="'subMenu'+ 3" >
        <span><img src="assets/images/Option 5.png"></span>
        <span class="menu-title"> Data</span>
      </a>
      

      <a class="nav-link" (click)="togleSidebar(2,1)" [attr.aria-expanded]="(subMenuCollapsed == 2 )  ? true : false"  [attr.aria-controls]="'subMenu'+ 2" >
        <span><img src="assets/images/conf.png"></span>
        <span class="menu-title"> Configuaration </span>
        <i class="menu-arrow pl-5"></i>
        <div class="collapse {{ '' ? 'show' : ''}}" id="subMenu{{1}}" aria-expanded="true" aria-controls="collapseOne" id="subMenu{{1}}" [ngbCollapse]="subMenuCollapsed != 2 ? true : false">
          <ul class="nav flex-column sub-menu">
              <li  class="nav-item" >
                <a class="nav-link submenu" routerLink="module" (click)="togleSidebar(1,3,3)"  [attr.aria-controls]="'subMenu'+ 2">
                  <span>Model  </span>
                </a>
              </li>
          </ul>
        </div>
      </a>
      <a class="nav-link">
        <span><img src="assets/images/Manage user.png"></span>
        <span class="menu-title">Manage user</span>
      </a>
      

    </li>
  </ul>
  <ul class="nav bottom-menu">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="logout()">
        <span><img src="assets/images/logout.png"></span>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>
